@page "{id:int?}"
@model SacramentMeetingPlanner.Pages.meetings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h2>Group # 2 Ward</h2>

<h3>Are you sure you want to delete this Sacrament Meeting?</h3>
<div>
    <h4>Date: @Html.DisplayFor(model => model.Meeting.Date)</h4>
    <hr />
    <div class="details-page">
        <div>
            @Html.DisplayNameFor(model => model.Meeting.Presiding):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.Presiding)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.Leading):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.Leading)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.Pianist):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.Pianist)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.MusicDirector):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.MusicDirector)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.StakeAuthority):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.StakeAuthority)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.EssentialAnnouncements):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.EssentialAnnouncements)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.FirstHymn):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.FirstHymn)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.FirstPrayer):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.FirstPrayer)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.WardAnnouncements):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.WardAnnouncements)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.SacramentHymn):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.SacramentHymn)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.FirstMessagePerson):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.FirstMessagePerson)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.Speakersubjects):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.Speakersubjects)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.SecondMessagePerson):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.SecondMessagePerson)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.Speakersubjects2):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.Speakersubjects2)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.ThirdMessagePerson):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.ThirdMessagePerson)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.Speakersubjects3):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.Speakersubjects3)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.LastHymn):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.LastHymn)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.LastPrayer):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.LastPrayer)
        </div>
    </div>

    <form method="post">
        <input type="hidden" asp-for="Meeting.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
