@page "{id:int?}"
@model SacramentMeetingPlanner.Pages.meetings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Group # 2 Ward</h1>
<div>
    <h4>Date: @Html.DisplayFor(model => model.Meeting.Date)</h4>
    <hr />
    <div class="details-page">
        <div>
            @Html.DisplayNameFor(model => model.Meeting.Presiding):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.Presiding)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.Leading):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.Leading)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.Pianist):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.Pianist)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.MusicDirector):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.MusicDirector)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.StakeAuthority):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.StakeAuthority)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.EssentialAnnouncements):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.EssentialAnnouncements)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.FirstHymn):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.FirstHymn)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.FirstPrayer):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.FirstPrayer)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.WardAnnouncements):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.WardAnnouncements)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.SacramentHymn):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.SacramentHymn)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.FirstMessagePerson):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.FirstMessagePerson)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.SecondMessagePerson):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.SecondMessagePerson)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.ThirdMessagePerson):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.ThirdMessagePerson)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.LastHymn):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.LastHymn)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Meeting.LastPrayer):
        </div>
        <div>
            @Html.DisplayFor(model => model.Meeting.LastPrayer)
        </div>
    </div>
</div>
<div class="tac pb15px">
    <a asp-page="./Edit" asp-route-id="@Model.Meeting.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
    <form method="post" asp-page="Details" asp-page-handler="CreateDocument" style="margin-right:-30%">
        <input type="submit" class="create-btn" value="Print this page">
    </form>
</div>
